<!DOCTYPE html>
<html>
<head>
	<title>Flask - Sentiment Analysis</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<script>
	function checkForm() {
	  if (document.getElementById("review").value=="") {
		alert("Review should not be empty");
		return false;
		}
		else {
		return true;
		}
		
	}
	</script>
	
</head>
<body>

	<header>
		<div class="container">
		<div id="heading">
			Sentiment Analysis NLP
		</div>
		<h2>Analyze Amazon product reviews as positive or negative</h2>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter the amazon product review text</p>
		<textarea name="review" id="review" rows="4" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="Predict" onclick="return checkForm()">
		
	</form>
		
	</div>

	
	

</body>
</html>